<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/crop.guide/1.5.12/crop.guide.min.css" rel="stylesheet">
  <script src="https://cdn.crop.guide/crop.guide.min.js"></script>
  <style>
    .thumbnail {
      position: relative;
      display: inline-block;
      margin: 10px;
    }
    .thumbnail img {
      max-width: 150px;
      max-height: 150px;
    }
    .thumbnail .delete-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      background: red;
      color: white;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <%- include('../partials/adminHeader') -%>
  <script defer src="https://cdn.crop.guide/loader/l.js?c=ZQFGVQ"></script>
  <ul class="list-unstyled">
    <li><a href="/admin/dashboard"> <i class="icon-home"></i>Dashboard</a></li>
    <li><a href="/admin/users"> <i class="fa fa-bar-chart"></i>Users</a></li>
    <li><a href="/admin/category"> <i class="fa fa-building-o"></i>Category</a></li>
    <li class="active"><a href="/admin/products"> <i class="icon-grid"></i>Products</a></li>
    <li><a href="/admin/coupons"> <i class="fa fa-percent"></i>Coupons</a></li>
    <li><a href="/admin/orders"> <i class="icon-padnote"></i>Orders</a></li>
    <li><a href="/admin/banners"> <i class="fa fa-map"></i>Banners</a></li>
  </ul>
  </nav>
  <!-- Sidebar Navigation end-->
  <div class="page-content">
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Add Product</h2>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="block">
        <div class="title"><strong>Add Product</strong></div>
        <div class="block-body">
          <form class="form-horizontal" action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="name" required>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Category</label>
              <div class="col-sm-9">
                <select name="category" id="category-select" required>
                  <option value="">Select...</option>
                  <% for(let i=0; i<data.length; i++) { %>
                    <option value="<%= data[i]._id %>">
                      <%= data[i].name %>
                    </option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="line"></div>
            <div id="additional-fields"></div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Description</label>
              <div class="col-sm-9">
                <textarea cols="90" rows="4" name="description" required style="background-color: rgb(48, 48, 54); color: white;"></textarea>
              </div>
            </div>
            <!-- <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">About Product</label>
              <div class="col-sm-9">
                <textarea cols="90" rows="4" name="aboutProduct" required style="background-color: rgb(48, 48, 54); color: white;"></textarea>
              </div>
            </div> -->
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Price</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="price" min="1" required>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Stock</label>
              <div class="col-sm-9" id="stock-container">
                <input type="number" class="form-control" name="stock" min="1" required>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Color</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="color" required>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Discount</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" name="discount" min="0" max="100" required>
              </div>
            </div>
            <div class="line"></div>
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Image</label>
              <div class="col-sm-9">
                <input type="file" class="form-control" id="image-upload" name="image" accept="image/*" multiple required>
              </div>
            </div>
            <div id="image-preview"></div>
            <div class="line"></div>
            <div class="form-group row">
              <div class="col-sm-9 ml-auto">
                <a class="btn btn-secondary" href="/admin/products">Cancel</a>
                <button type="submit" class="btn btn-primary">Add Product</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </section>
  <%- include('../partials/adminFooter') -%>

  <script>
    document.getElementById('category-select').addEventListener('change', function() {
      const category = this.options[this.selectedIndex].text;
      const additionalFieldsDiv = document.getElementById('additional-fields');
      const stockContainer = document.getElementById('stock-container');
      additionalFieldsDiv.innerHTML = '';  // Clear previous fields
      stockContainer.innerHTML = '';  // Clear previous stock fields

      switch (category) {
        case 'Coasters':
          additionalFieldsDiv.innerHTML = `
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Material</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="material" required>
              </div>
            </div>`;
          stockContainer.innerHTML = `
            <input type="number" class="form-control" name="stock" min="1" required>`;
          break;
        case 'Accessories':
          additionalFieldsDiv.innerHTML = `
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Type</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="type" required>
              </div>
            </div>`;
          stockContainer.innerHTML = `
            <input type="number" class="form-control" name="stock" min="1" required>`;
          break;
        case 'Posters':
          additionalFieldsDiv.innerHTML = `
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Dimensions</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="dimensions" required>
              </div>
            </div>`;
          stockContainer.innerHTML = `
            <input type="number" class="form-control" name="stock" min="1" required>`;
          break;
        case 'Apparels':
          additionalFieldsDiv.innerHTML = `
            <div class="form-group row">
              <label class="col-sm-3 form-control-label">Material</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="material" required>
              </div>
            </div>`;
          stockContainer.innerHTML = `
                       <label class="col-sm-3 form-control-label">Stock (in units per size)</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-sm-2">S</div>
                <div class="col-sm-10"><input type="number" class="form-control" name="sizes[S]" min="0" required></div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">M</div>
                <div class="col-sm-10"><input type="number" class="form-control" name="sizes[M]" min="0" required></div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">L</div>
                <div class="col-sm-10"><input type="number" class="form-control" name="sizes[L]" min="0" required></div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">XL</div>
                <div class="col-sm-10"><input type="number" class="form-control" name="sizes[XL]" min="0" required></div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">XXL</div>
                <div class="col-sm-10"><input type="number" class="form-control" name="sizes[XXL]" min="0" required></div>
              </div>
            </div>`;
          break;
        default:
          stockContainer.innerHTML = ''; // Clear stock container for unknown categories
      }
    });

    // Image preview and delete functionality
    document.getElementById('image-upload').addEventListener('change', function(event) {
      const previewContainer = document.getElementById('image-preview');
      previewContainer.innerHTML = ''; // Clear previous previews

      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();

        reader.onload = function(event) {
          const imageUrl = event.target.result;
          const thumbnail = `
            <div class="thumbnail">
              <img src="${imageUrl}" alt="Image">
              <button type="button" class="delete-btn" data-index="${i}" onclick="deleteImage(event)">X</button>
            </div>`;
          previewContainer.innerHTML += thumbnail;
        };

        reader.readAsDataURL(file);
      }
    });

    // Function to delete an image from preview
    function deleteImage(event) {
      const index = event.target.getAttribute('data-index');
      const input = document.getElementById('image-upload');
      const files = Array.from(input.files);

      files.splice(index, 1); // Remove the file from the array of files
      input.files = new FileList(files); // Update the input's files property
      input.dispatchEvent(new Event('change')); // Trigger change event to refresh preview
    }

    //validation
    document.addEventListener('DOMContentLoaded', function() {
    const priceInput = document.querySelector('input[name="price"]');
    const stockInput = document.querySelector('input[name="stock"]');
    const discountInput = document.querySelector('input[name="discount"]');

    priceInput.addEventListener('input', function() {
      if (parseFloat(this.value) < 0) {
        this.value = 1; // Set a default value or handle as per your application logic
      }
    });

    stockInput.addEventListener('input', function() {
      if (parseInt(this.value) < 0) {
        this.value = 1; // Set a default value or handle as per your application logic
      }
    });
    
    discountInput.addEventListener('input', function() {
      if (parseInt(this.value) < 0) {
        this.value = 0; // Set a default value or handle as per your application logic
      }
    });


    const form = document.querySelector('form');
    form.addEventListener('keypress', function(e) {
      if (e.key === 'Enter') {
        e.preventDefault();
      }
    });
  });
  </script>
</body>
</html>

