<footer class="footer">
  <div class="footer__block block no-margin-bottom">
    <div class="container-fluid text-center">
    
    </div>
  </div>
</footer>
</div>
</div>
<!-- JavaScript files-->
<script src="/adminAssets/vendor/jquery/jquery.min.js"></script>
<script src="/adminAssets/vendor/popper.js/umd/popper.min.js"> </script>
<script src="/adminAssets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/adminAssets/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="/adminAssets/vendor/chart.js/Chart.min.js"></script>
<script src="/adminAssets/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/adminAssets/js/charts-home.js"></script>
<script src="/adminAssets/js/front.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>