<ul class="list-unstyled">
    <li  class="active" ><a href="/profile"> <i class="icon-home"></i>Profile</a></li>
    <li><a href="/address"> <i class="fa fa-bar-chart"></i>Address</a></li>
    <li><a href="/orders"> <i class="fa fa-building-o"></i>Orderbook</a></li>
    <li><a href="/wallet"> <i class="icon-grid"></i>Wallet</a></li>
    <li><a href="/reset-password"> <i class="fa fa-percent"></i>Reset Password</a></li>
  </ul>
  </nav>
  <!-- Sidebar Navigation end-->
  <div class="page-content">
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Profile</h2>
      </div>
    </div>

    <div class="title" style="margin-left: 80%;"><!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Category
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form action="/admin/add-category" method="post">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <label class="col-sm-6 form-control-label">Name of the Category</label>
                <br>
                <input type="text" name="name" class="form-control" required>
                <br>
                <label class="col-sm-6 form-control-label">Description</label>
                <br>
                <input type="text" name="description" class="form-control" required>
                <br>
                <label class="col-sm-6 form-control-label">Discount</label>
                <br>
                <input type="text" name="discount" class="form-control" required>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



    <div class="table-responsive" style="padding: 5%;">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Listing status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i=0; i < category.length; i++) {%>
            <tr>
              <td>
                <%= category[i].name %>
              </td>
              <td>
                <%= category[i].discount %>
              </td>
              <td>
                <% if(category[i].isListed) { %>

                  <a href="/admin/category/update-status?<%= category[i]._id %>" class="btn btn-danger"
                    onclick="confirmAndRedirect('<%= category[i]._id %>',event)">Unlist</a>
                  <% } else { %>
                    <a href="/admin/category/update-status?<%= category[i]._id %>" class="btn btn-success"
                      onclick="confirmAndRedirect('<%= category[i]._id %>',event)">List</a>
                    <% } %>

              </td>

              <td>
                <!-- Button triggering the modal with unique identifier -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop<%= i %>">
                  Edit
                </button>

                <!-- Modal with unique identifier -->
                <div class="modal fade" id="staticBackdrop<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel<%= i %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form action="/admin/update-category" method="post">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel<%= i %>">Edit the category</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input type="hidden" name="id" value="<%= category[i]._id %>"> <!-- Hidden input for category ID -->
                          <label class="col-sm-6 form-control-label">Name</label>
                          <br>
                          <input type="text" name="name" value="<%= category[i].name %>" class="form-control" required>
                          <br>
                          <label class="col-sm-6 form-control-label">Description</label>
                          <br>
                          <input type="text" name="description" value="<%= category[i].description %>" class="form-control" required>
                          <br>
                          <label class="col-sm-6 form-control-label">Discount</label>
                          <br>
                          <input type="text" name="discount" value="<%= category[i].discount %>" class="form-control" required>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                </div>
                <!-- <a href="" class="btn btn-secondary">Edit</a> -->
              </td>
            </tr>
            <%} %>
        </tbody>
      </table>
    </div>
  </div>
  </div>